* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 220%;
    font-weight: bold;
    line-height: 3;
}

header {
    background-color: aqua;
}